body {
    background-image: url(../img/pattern.jpg);
    margin: 0;
}

header {
    display: block;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
}

ul {
    list-style-type: none;
}

nav,
ul,
li {
    display: inline;
    padding-top: 18px;
}
nav {
    float: right;
}

a {
    padding: 0px 10px;
}

section {
    background-color: white;
    margin: 65px 15% 10px;
    padding: 10px;
}
h1 {
    text-align: center;
}
#article-list {
    padding: 0px 10px;
}

#article-list > div {
    border-bottom: solid black 1px;
}
footer {
    left: 0;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    height: 40px;
    vertical-align: middle;
    display: table-cell;
    width: 100vw;
}

h5 {
    margin: 0;
}
